<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Novo Agendamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

<h1>Novo Agendamento</h1>

<form>

<input type="text" placeholder="Nome do Tutor"><br><br>

<input type="text" placeholder="Nome do Pet"><br><br>

<select>
    <option>Banho</option>
    <option>Tosa</option>
    <option>Banho + Tosa</option>
</select><br><br>

<input type="date"><br><br>

<input type="time"><br><br>

<button class="botao">Salvar</button>

</form>

</div>

</body>
</html>